spring.application.name=research-portal
spring.datasource.url=jdbc:mysql://localhost:3306/haritara?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
spring.datasource.username=ht_dev
spring.datasource.password=YOUR_PASSWORD_HERE